<header>
  <h2>{{title}}</h2>
  <div *ngIf="toggleShowAddTaskButton$ | async as showAddButton">
    <app-button
      *ngIf="hasRoute('/tasks') && !showEditTaskButton"
      buttonColor="{{showAddButton.show ? 'Green': 'Red'}}"
      buttonText="{{showAddButton.show ? 'New Task': 'Close New Task'}}"
      (btnClickedEmitter)="toggleAddBtnEventCatcher()">
    </app-button>

    <app-button
      *ngIf="hasRoute('/tasks') && showEditTaskButton"
      buttonColor="red"
      buttonText="Close Edit Task"
      (btnClickedEmitter)="toggleEditBtnEventCatcher()">
    </app-button>
  </div>


</header>
