<header>
  <h2>{{title}}</h2>
  <div *ngIf="taskHeaderManager$ | async as headerButton">
    <app-button
      *ngIf="hasRoute('/tasks') && !headerButton.showEdit && headerButton.showAddButton"
      buttonColor="Green"
      buttonText="New Task"
      (btnClickedEmitter)="OpenNewTaskFormEventCatcher()">
    </app-button>

    <app-button
      *ngIf="hasRoute('/tasks') && !headerButton.showEdit && !headerButton.showAddButton"
      buttonColor="Red"
      buttonText="Close New Task"
      (btnClickedEmitter)="closeNewTaskFormEventCatcher()">
    </app-button>

    <app-button
      *ngIf="hasRoute('/tasks') && headerButton.showEdit"
      buttonColor="red"
      buttonText="Close Edit Task"
      (btnClickedEmitter)="closeEditFormEventCatcher()">
    </app-button>
  </div>


</header>
