<header>
  <h2>{{title}}</h2>
  <div *ngIf="taskHeaderManager$ | async as headerButton">
    <app-button
      *ngIf="hasRoute('/tasks') && !headerButton.showEdit"
      buttonColor="{{headerButton.showAddButton ? 'Green': 'Red'}}"
      buttonText="{{headerButton.showAddButton? 'New Task': 'Close New Task'}}"
      (btnClickedEmitter)="toggleAddBtnEventCatcher()">
    </app-button>

    <app-button
      *ngIf="hasRoute('/tasks') && headerButton.showEdit"
      buttonColor="red"
      buttonText="Close Edit Task"
      (btnClickedEmitter)="closeEditBtnEventCatcher()">
    </app-button>
  </div>


</header>
