<div *ngIf="showAddTaskForm$ | async as showAddTask">
  <form *ngIf="showAddTask.showAddTaskForm=== true" [formGroup]="newTaskForm"  class="add-form" (ngSubmit)="createNewTask()">
    <div class="form-control">
        <label for="text">Task Description</label>
        <input  type="text" name="text" formControlName="taskText"  id="text" placeholder="Do some fun stuff ..."/>
    </div>
    <div class="form-control">
          <label for="day">Task Date</label>
          <input [matDatepicker]="datePicker" name="day" formControlName="taskDay"  id="day" />
          <mat-datepicker-toggle [for]="datePicker"></mat-datepicker-toggle>
          <mat-datepicker #datePicker></mat-datepicker>
    </div>
    <div class="form-control form-control-check">
      <label for="reminder">Task Reminder</label>
      <input type="checkbox" formControlName="taskReminderOption"  name="reminder" id="reminder"/>
    </div>
    <input class="btn btn-block" type="submit" value="Create Task">
  </form>
</div>


