<app-add-task-form
  (addTaskEmitter)="taskAddEventCatcher($event)">
</app-add-task-form>

<app-edit-task-form
  (editTaskEmitter)="taskUpdateEventCatcher($event)">
</app-edit-task-form>


<div *ngIf="isLoading$ | async">Loading tasks for user ....</div>
<div *ngIf="tasks$ | async as tasks">
  <app-task-item
    *ngFor="let taskItem of tasks"
    [task]="taskItem"
    (deleteTaskEmitter)="taskDeleteEventCatcher(taskItem)"
    (openEditTaskFormEmitter)="taskUpdateFormOpenEventCatcher($event)">
  </app-task-item>
</div>

<div *ngIf="error$ | async as error">{{error}}</div>



