<app-add-task-form
  (addTaskEmitter)="taskAddEventCatcher($event)"
>
</app-add-task-form>

<app-edit-task-form
  taskText="{{focusedTask.text}}"
  taskDay="{{focusedTask.day}}"
  taskReminder="{{focusedTask.reminder}}"
>
</app-edit-task-form>

<app-task-item
  *ngFor="let task of tasks"
  [task]="task"
  (deleteTaskEmitter)="taskDeleteEventCatcher(task)"
  (updateReminderEmitter)="taskUpdateReminderEventCatcher(task)"
  (openEditTaskFormEmitter)="taskUpdateFormOpenEventCatcher(task)"
>
</app-task-item>


