<form  class="add-form" *ngIf="showTaskEditForm" (ngSubmit)="updateTask()">

  <div class="form-control">
    <label for="text">Task Description</label>
    <input type="text" name="text" id="text" placeholder="Update Task text"
           [(ngModel)]="taskText"
           value="{{taskText}}"/>
  </div>
  <div class="form-control">
    <label for="day">Day & Time</label>
    <input type="text" name="day"   id="day" placeholder="Update Day & Time"
           value="{{taskDay}}"
           [(ngModel)]="taskDay"/>
  </div>
  <div class="form-control form-control-check">
    <label for="reminder">Task Reminder</label>
    <input type="checkbox" name="reminder" id="reminder"
           [checked]="taskReminder === 'true'"
           [(ngModel)]="updatedTask.reminder"/>
  </div>
  <input class="btn btn-block" type="submit" value="Update Task" >
</form>

